html,
body {
  height: 100%;
}
.divider {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  display: block;
  height: 44px;
  margin-bottom: -18px;
}
.divider::after {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  content: "";
  display: block;
  height: 44px;
}

[class="tagging"] {
  display: none;
}

.selectedGroupAll {
  display: none;
}

.selectedGroup {
  width: 75%;
}
.selected{
  position: relative;
}

.selected::after {
  position: absolute;
  font-family: "ForkAwesome";
  content: "\f00d";
  color: #797979;
  font-size: 0.8rem;
  top: -0rem;
}

.btn-signup {
  background-color: #16c2d5;
  color: white;
  border: none;
}

.btn-login {
  background-color: #10217d;
  color: white;
  border: none;
}

.tag {
  color: #16c2d5;
  font-size: 5rem;
}
.med {
  color: #10217d;
  font-size: 5rem;
}

.tagSmall {
  color: #16c2d5;
  font-size: 1.8rem;
}
.medSmall {
  color: #10217d;
  font-size: 1.8rem;
}
.search-width {
  width: 60%;
}

.tagmed-input {
  border-color: #16c2d5;
  border-right: none;
}
.tagmed-inputlogo {
  border-color: #16c2d5;
  border-left: none;
  background-color: transparent;
}
.search-button:hover {
  border-color: #16c2d5;
  background-color: #10217d;
}
.search-button {
  background-color: #16c2d5;
  color: white;
  border-color: transparent;
}
.articleAbstract {
  position: relative;
}
.readControl-btn {
  position: absolute;
  padding: 0 0 0 1rem;
  margin: 0;
  bottom: 0.01rem;
}
.spanHeader {
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}
.nav-link {
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 60%; 
}

.inner-content {
  padding: 5%;
  text-align: center;
}

.inner-content-tag {
  text-align: left;
}

.btn-addAlias{
  width: 280px;
  margin-right: 15px;
}

.spanDiv{
  padding-top: calc(.375rem + 1px);
}

.alliasDiv{
  display:none;
}

.yellow-background{
  color:yellow;
  background-color: black;
}
