{% extends 'base.html' %} {% block content %}

<div id="advanced-search" class="d-flex align-items-center justify-content-center h-75">
  <div class="search-width">
    <div class="header text-center">
      <span class="tag">MEDI</span><span class="med">Pub</span>
    </div>
    <div class="search mt-4">
      <form name = "advanced-search-form" method="POST" action="sort/0/advanced-search"  onsubmit="">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-12">            
            <div class="col-md-12 table-responsive">
              <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                <thead>
                  <tr>
                    <th class="text-center">
                      Article Field
                    </th>
                    <th class="text-center">
                      Term
                    </th>
                    <th class="text-center">
                      Search Option
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="article-part">
                      <select id="article-part" class="form-control" name="article-part">
                        <option selected>Select Article Part</option>
                        {% for article_part in article_parts %}
                        <option value="{{ article_part }}">{{ article_part }}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td data-name="search-terms">
                      <textarea id="search-terms" name="search-terms" placeholder="Search Terms" class="form-control search-terms"></textarea>
                    </td>
                    <td data-name="search-option">
                      <select id="search-option" class="form-control" name="search-option">
                        <option selected>Search Option</option>
                        {% for option in search_option %}
                        <option value="{{ option }}">{{ option}}</option>
                        {% endfor %}
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>   
            </div>
          </div>
        </div>
        <div class="form-row d-flex justify-content-around">
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Publish date minimum</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Publish date maximum</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
          </div>
          <div class="justify-content: space-between">
            <button type="button" id="add_row" name="add_row" class="btn btn-primary float-right"><span aria-hidden="true">Add Row</span></button>
          </div>
        </div>
        
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="vector-search" name="vector-search">
            <label class="form-check-label" for="vector-search">
              Include Search Vector (This option may overwrite exact filtering option, it will improve search with semantic relations)
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      
      <small id="searchHelp" class="form-text text-muted text-right"><a href="{%url 'index'%}">Main
        Search</a></small>
      </div>
    </div>
  </div>
    
{% endblock%}
