{% extends 'base.html' %} {% block content %}

<div class="w-75 mx-auto">
  <div class="m-3 p-3">
    <h2 class="text-center m-2"> Article Detail</h2>
  </div>

  <div class="m-3 p-3" id="allcontent">
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {%endif%}
    <div class="article border rounded m-3 px-3 mb-5">
      <div class="articleHeader">
        <h3><a href="">{{article.title}}</a></h3>
        <div class="d-flex justify-content-end">

          {% if followed %}
          <a onclick="resetElement()" href="{%url 'unfollow_article' article.pmid %}" class="btn btn-warning"
            role="button">Unfollow</a>

          {% else %}
          <a id="imgbox1" onclick="changeVisibility()" href="{%url 'follow_article' article.pmid %}"
            class="btn btn-primary" role="button">Follow</a>
          {% endif %}

        </div>

        <div class="d-flex justify-content-end">

          {% if followed %}

          <div class="d-flex justify-content-end">
            <p class="m-1"><mark>You are following this article</mark></p>
          </div>

          {% endif %}

        </div>

        <p class="m-1"><span class="spanHeader">PMID:</span><span> {{article.pmid}}</span></p>
        <p class="m-1"><span class="spanHeader">Author(s):</span> <span>{% for author in article.authors.all %}
            {{ author }},{%endfor%}</span></p>
        <p class="m-1"><span class="spanHeader">Publication Date:</span> <span>
            {{article.publish_date|safe}}</span></p>

      </div>
      <div class="articleAbstract my-3">
        <p class="m-1"><span class="spanHeader">Abstract:</span>
          <span class="Full" id="abstractFull-{{article.pmid}}">{{article.abstract|safe}}</span>

        </p>
        <br>
        <p class="m-1"><span class="spanHeader">Keyword(s):</span><span> {{article.keywords }}</span> </p>

      </div>

      {% comment %} TAG display starts {% endcomment %}
      <br>
      <br>
      <div class="articleFooter">

        <p class="m-1"><span class="spanHeader">Tags(s):</span>
          {% for tag in article.tags.all %}
          {%if tag.custom_description == ''%}
          <span><button type="button" class="btn btn-outline-secondary tag-button" id="{{tag.wiki_description}}"><a href="{{tag.wiki_url}}"
                target="_blank">{{tag.label}}</a></button></span>
          {%elif tag.label != '' and tag.custom_description != '' %}
          <span><button type="button" class="btn btn-outline-secondary tag-button" id="{{tag.wiki_description}}"><a href="{{tag.wiki_url}}"
                target="_blank">{{tag.custom_description}}</a></button></span>
          {%else%}
          <span><button type="button" class="btn btn-outline-secondary">{{tag.custom_description}}</button></span>
          {%endif%}



          {%endfor %}

          <p class="m-1"><span class="spanHeader">Annotation(s):</span>
            {% for highlight in article.highlights.all %}
            {%if highlight.tag.custom_description == ''%}
            <span><button type="button" class="btn btn-outline-secondary annotation-button" id="subtext{{highlight.sub_text}}"><a href="{{highlight.tag.wiki_url}}"
                  target="_blank">{{highlight.tag.label}}</a></button></span>
            {%elif highlight.tag.label != '' and highlight.tag.custom_description != '' %}
            <span><button type="button" class="btn btn-outline-secondary annotation-button" id="subtext{{highlight.sub_text}}"><a href="{{highlight.tag.wiki_url}}"
                  target="_blank">{{highlight.tag.custom_description}}</a></button></span>
            {%else%}
            <span><button type="button" class="btn btn-outline-secondary annotation-button disabled-button" id="subtext{{highlight.sub_text}}"><a href="http://www.google.com"
              target="_blank">{{highlight.tag.custom_description}}</a></button></span>
            {%endif%}
  
  
  
            {%endfor %}


      </div>




      <!-- <div class="articleFooter">

        <p class="m-1"><span class="spanHeader">Custom Tags(s):</span>
          {% for tag in article.tags.all %}
          <span> <u>{{tag.custom_description}}</u>&nbsp;</span>


          {%endfor %}


      </div> -->


      {% comment %} TAG display ends {% endcomment %}


      {% comment %} Visual for tagging below starts {% endcomment %}

      <div class="articleFooter">

        <p> Total views: {{display_count}}</p>


        <div class="d-flex flex-row">
          <div class="tag-label align-self-center mt-3">
            <p class="m-1"><span class="spanHeader"></span> </p>
          </div>
          <div class="tag-list selectedGroup" id="selectedGroup-{{article.pmid}}">

            {% for tag in article.tags.all %}

            <!-- <a type="button" class="btn  btn-outline-secondary btn-sm mt-2 " data-toggle="popover"     data-placement="top" data-trigger="hover" data-content="          
                  
                  <p><b>Description:</b>
                  {{tag.wiki_description}}
                  </p>
      
                  <p><b>ID:</b>
                  ({{ tag.wiki_q }})  
                  </p>" href="{{tag.wiki_url}}" target="_blank">{{tag.label}} </a> -->

            {%endfor %}
          </div>

          {% comment %} Visual for tagging below ends {% endcomment %}


          {% comment %} Add tag section starts {% endcomment %}

          <div class="tag-edit align-self-center ml-auto mt-3">
            <button type="button" class="btn btn-info mr-3 startTagging" id="startTagging-{{article.pmid}}"
              data-pmid="{{article.pmid}}" data-url="{%url 'tag_article'%}">Add Tags</button>
          </div>

          <div class="tag-edit align-self-center ml-auto mt-3">
            <button type="button" class="btn btn-info mr-3 startAnnotating" id="startAnnotating-{{article.pmid}}"
              data-pmid="{{article.pmid}}" data-url="{%url 'annotate_article'%}">Add Annotations</button>
          </div>

          {% comment %} Add tag section finishes {% endcomment %}
        </div>
      </div>
      <div id="msgNoAnnotationTarget" title="Annotation Error">
        <p style="color:red;">You should select at least 5 character sub-part of the abstract to annotate first. </p>
      </div>
      <div class="tagging" id="tagging-{{article.pmid}}">
        <div class="w-100 m-3">
          <div class="form-group">
            <label for="tagInput">Search WikiData Tag</label>
            <input type="text" class="form-control tagInput" id="tagInput-{{article.pmid}}" aria-describedby="tagHelp"
              placeholder="Type for search tag" />
            <small id="tagHelp" class="form-text text-muted">
              <div class="list-group results" id="results-{{article.pmid}}"></div>
            </small>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <div class="d-flex justify-content-center">
          {% comment %} <div class="tag-edit ml-auto">
            <button type="button" class="btn btn-info mr-3 startTagging" id="startTagging-{{article.pmid}}"
              data-pmid="{{article.pmid}}" data-url="{%url 'tag_article'%}">Add Tags</button>
          </div> {% endcomment %}

        </div>
        <div class="article border rounded m-3 px-3 mb-5"></div>
        <div class="form-group text-center">
          <div class="d-flex justify-content-end">
            <a href="{%url 'show_custom_tag' article.pmid %}" class="btn btn-secondary" role="button">Add Custom Tag</a>
            &nbsp;          
            <a href="{%url 'show_annotate' article.pmid " " %}" class="btn btn-secondary" role="button" id="custom_annotation_button">Add Custom Annotation</a>
            &nbsp;
            <a href="{%url 'show_report' article.pmid %}" class="btn btn-danger" role="button">Report this Article</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="tagDetail" class="modal">

  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <div class="modal-content" id="modalContent">
    <div class="inner-content">
      <h3 class="mb-4">Are you sure to tag article with following tag?</h1>
        <div class="inner-content-tag">

          <div class="form-group row">
            <label for="modalTagName" class="col-sm-3 col-form-label spanHeader">Tag Name:</label>
            <div class="col-sm-9 spanDiv">
              <span type="text" id="modalTagName"> </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="modalTagDesc" class="col-sm-3 col-form-label spanHeader">Tag Description:</label>
            <div class="col-sm-9 spanDiv">
              <span type="text" id="modalTagDesc"> </span>
            </div>
          </div>

          <div class="form-group row alliasDiv">
            <label for="modalTagAlias" class="col-sm-3 col-form-label spanHeader">Custom Name:</label>
            <div class="col-sm-9 ">
              <input type="text" id="modalTagAlias" class="form-control">
            </div>
          </div>
        </div>

        <div class="clearfix mt-3">
          <button type="button" class="btn btn-danger w-25 mr-3 btn-cancel" id="tagDetailCancel">Cancel</button>
          <button type="button" class="btn btn-success w-25 mr-3 btn-Tag" id="tagDetailTag">Tag it!</button>
          <button type="button" class="btn btn-primary w-25 mr-3 btn-Tag" id="tagDetailAddAllias">Need Custom
            Name?</button>
        </div>
    </div>
  </div>
</div>

<div id="annotateDetail" class="modal">

  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <div class="modal-content" id="modalContent">
    <div class="inner-content">
      <h3 class="mb-4">Are you sure to annotate part of article with following tag?</h1>
        <div class="inner-content-tag">

          <div class="form-group row">
            <label for="modalSubText" class="col-sm-3 col-form-label spanHeader">Sub Text:</label>
            <div class="col-sm-9 spanDiv">
              <span type="text" id="modalSubText"> </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="modalAnnotateTagName" class="col-sm-3 col-form-label spanHeader">Annotate Tag Name:</label>
            <div class="col-sm-9 spanDiv">
              <span type="text" id="modalAnnotateTagName"> </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="modalAnnotateTagDesc" class="col-sm-3 col-form-label spanHeader">Annotate Tag Description:</label>
            <div class="col-sm-9 spanDiv">
              <span type="text" id="modalAnnotateTagDesc"> </span>
            </div>
          </div>

          <div class="form-group row alliasDiv">
            <label for="modalAnnotateTagAlias" class="col-sm-3 col-form-label spanHeader">Annotate Custom Name:</label>
            <div class="col-sm-9 ">
              <input type="text" id="modalAnnotateTagAlias" class="form-control">
            </div>
          </div>
        </div>

        <div class="clearfix mt-3">
          <button type="button" class="btn btn-danger w-25 mr-3 btn-cancel" id="annotateDetailCancel">Cancel</button>
          <button type="button" class="btn btn-success w-25 mr-3 btn-Tag" id="annotateDetailTag">Annotate it!</button>
          <button type="button" class="btn btn-primary w-25 mr-3 btn-Tag" id="annotateDetailAddAllias">Need Custom
            Name?</button>
        </div>
    </div>
  </div>
</div>

<div id="divTagDescription" style="width:auto;display:none;"></div>

<script>

  function changeVisibility() {
    document.getElementById("imgbox1").style.visibility = "hidden";
  }

  function resetElement() {
    document.getElementById("imgbox1").style.visibility = "visible";
  }
</script>

{% endblock%}