{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medipub Website</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
        integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://use.typekit.net/adu6xyw.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div id="all-section" class="container-fluid h-100  px-0 px-sm-2">
        <div class="d-flex flex-column mt-3">
            <nav class="navbar navbar-expand-md">
                {% if request.path != '/' %}<a href="{%url 'index'%}"><span class="tagSmall">MEDI</span><span
                        class="medSmall">pub</span></a>{% endif %}
                {% if request.path == '/article/results/' %}
                <div class="search ml-4 row w-50">
                    <form method="GET" class="main-search col-12" action="">
                        <fieldset class="form-group text-center m-0">
                            <div class="input-group">
                                {{ form }}
                                <div class="input-group-append">
                                    <span class="input-group-text tagmed-inputlogo"><i class="fa fa-search"
                                            aria-hidden="true"></i></span>
                                </div>
                                <button type="submit"
                                    class="btn btn-outline-primary search-button text-center ml-3">Search</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                {% endif %}
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                        {%if user.is_authenticated %}
                        <li class="nav-item mr-2  ">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Logged In as
                                {{user.name}}</a>
                        </li>
                        <li class="nav-item dropdown mr-3">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{%url 'profile' %}">Profile</a>
                                <a class="dropdown-item" href="{%url 'feed' %}">Feed</a>
                                <a class="dropdown-item" href="{%url 'user_lookup' %}">User Lookup</a>
                                <a class="dropdown-item" href="{%url 'tag_lookup' %}">Tag Lookup</a>
                                {%if user.is_admin %}

                                <a class="dropdown-item" href="/site-settings/adminpanel"><b>Admin Panel</b></a>
                                <a class="dropdown-item" href="/site-settings/adminpanelusermanagement/user/"><b>User
                                        Manage</b></a>
                                <a class="dropdown-item" href="{%url 'signup_requests' %}"><b>Signup Requests</b></a>


                                <a class="dropdown-item" href="/site-settings/adminpanelbackend/reportarticle"><b>User
                                        Reports</b></a>


                                <a class="dropdown-item" href="{%url 'fetch' %}"><mark>Fetch Data</mark></a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0" action="{%url 'logout'%}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="btn btn-primary btn-signup mx-2" href="{%url 'signup'%}">SignUp</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary btn-login" href="{%url 'login'%}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {% for message in messages %}
        <div class="container-fluid">
            <div class="alert alert-primary" role="alert">{{ message }}</div>
        </div>
        {% endfor %} {% block content %} {%endblock%}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha512-5WvZa4N7Jq3TVNCp4rjcBMlc6pT3lZ7gVxjtI6IkKW+uItSa+rFgtFljvZnCxQGj8SUX5DHraKE6Mn/4smK1Cg=="
        crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
</body>

</html>
