{% extends 'base.html' %} {% block content %}
<div class="w-50 mx-auto">
    <div class="m-3 p-3">
        <h2 class="text-center m-2"> Condition of Use</h2>
    </div>

    <div class="m-3 p-3" id="allcontent">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}
        <div class="article border rounded m-3 px-3 mb-5">







            <h3> Last updated: (08 January 2022) </h3>
            <br>
            <p class="m-1">
                Please read these Condition of Use ("Terms", "Terms of Use") carefully before using the
                http://3.91.234.233:8000/ website application (the "Service") by the MediPub
                Management ("MediPub ").

                Your access to and use of the Service is conditioned on your acceptance of and compliance with these
                Terms. These Terms apply to all visitors, users and others who access or use the Service.

                By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of
                the terms then you may not access the Service. </p>
            <br>
            <h4> Purchases </h4>

            <p class="m-1">


                There is no purchase option on the MediPub website and the data is open for public. However registered
                users might benefit fully what MediPub offers.</p>
            <br>
            <h4> Termination </h4>
            <p class="m-1">

                We may terminate or suspend access to our Service immediately, without prior notice or liability, for
                any reason whatsoever, including without limitation if you breach the Terms.

                All provisions of the Terms which by their nature should survive termination shall survive termination,
                including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
                liability.
            </p>
            <br>
            <h4> Content </h4>

            <p class="m-1">

                MediPub system offers over 40k medical articles. Our Service allows everyone to search these medical
                articles (about depression, hepatitis, brain diseases, etc.) based on the relevance. Users can search
                articles to
                tag them with relevant Wikidata entries. Non-authorized users can search and lookup the articles
                however, only Authorized users can search, filter search, tag and report articles. </p>

            <br>
            <h4> Links To Other Web Sites </h4>

            <p class="m-1">

                MediPub Service may contain links to third-party web sites or services that are not owned or controlled
                by MediPub.

                MediPub has no control over, and assumes no responsibility for, the content, privacy policies, or
                practices of any third-party web sites or services. You further acknowledge and agree that MediPub shall
                not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be
                caused by or in connection with use of or reliance on any such content, goods or services available on
                or through any such web sites or services.</p>
            <br>
            <h4> Changes </h4>

            <p class="m-1">



                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. What
                constitutes a material change will be determined at our sole discretion.</p>
            <br>
            <h4> Contact Us </h4>

            <p class="m-1">

                If you have any questions about these Terms, please contact us at medipub574@gmail.com</p>




        </div>
    </div>
</div>

{% endblock%}
