{% extends 'base.html' %} {% block content %}
<div class="d-flex  justify-content-center">
    <div class="border rounded m-3 p-3 w-25">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}



        <h3 class="form-title text-center m-4 d-none d-md-block">Custom Tag Page</h3>
        <form method="POST" action="{%url 'submit_custom' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
                <input type="hidden" name="pmid" value="{{pmid}}" />
            </fieldset>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info">Finalize custom tag</button>
            </div>
    </div>
</div>
{% endblock%}