{% extends 'base.html' %} {% block content %}
<div class="d-flex  justify-content-center">
    <div class="border rounded m-3 p-3 w-25">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}


        <h3 class="form-title text-center m-4 d-none d-md-block">Annotate Article Page</h3>
        <form method="POST" action="{%url 'submit_annotate' %}">
            <h3>Custom Annotation</h3>
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
                <input type="hidden" name="pmid" value="{{pmid}}" />
                <label for="sub_text">Sub-text to be annotated</label>
                <textarea disabled rows="10" cols="42" name="sub_text" id="sub_text" value={{sub_text}} />
                {{sub_text}}
                </textarea>
                <input type="hidden" name="sub_text" value="{{sub_text}}" />
            </fieldset>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info">Annotate</button>
            </div>
        </form>
    </div>
</div>
{% endblock%}