{% extends 'base.html' %} {% block content %}
<div class="w-75 mx-auto">
    <div class="m-3 p-3">
        <h2 class="text-center m-2"> Feed</h2>
    </div>
    <div class="m-1 p-1" id="allcontent">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}


        <!-- {% for activity in activities %}
                <div>{{ activity }}</div>

                <br>

                {%endfor%} -->



        {% for new_activity in new_activities %}

        <div class="article border rounded m-3 px-3 mb-5">
            <div class="articleHeader">

                <br>
                <div class="d-flex justify-content-center">
                    <!-- <p class="m-1"><span class="spanHeader"> </span> <span> {{ test_activity.summary }}</span></p> -->
                    <button type="button" class="btn btn-light">{{ new_activity.summary }}</button>
                </div>



                <div class="d-flex justify-content-center">
                    <h3 class="mt-3" style="color:rgba(14, 103, 175, 0.993)">
                        <i>{{new_activity.published|slice:"11:19"}}</i>
                    </h3>


                </div>

                <div class="d-flex justify-content-center">
                    <h3 class="mt-3">{{ new_activity.published|slice:":10" }}</h3>
                </div>

            </div>
        </div>
        {%endfor %}
    </div>
</div>

</div>
</div>



{% endblock%}
