{% extends 'base.html' %} {% block content %}

<div id="search" class="d-flex align-items-center justify-content-center h-75">
    <div class="search-width">
        <div class="header text-center">
            <span class="tag">MEDI</span><span class="med">pub</span>
        </div>
        <div class="search mt-4">
            <form method="POST" class="main-search" action="/article/sort/0/results/">
                {% csrf_token %}
                <fieldset class="form-group text-center">
                    <div class="input-group">
                        {{ form }}
                        <div class="input-group-append">
                            <span class="input-group-text tagmed-inputlogo"><i class="fa fa-search"
                                    aria-hidden="true"></i></span>
                        </div>
                    </div>



                    {%if user.is_authenticated %}

                    <small id="searchHelp" class="form-text text-muted text-left">

                        <a href="{%url 'advanced'%}">Advanced Search</a>


                    </small>
                    {% endif %}


                    <button type="submit" class="btn btn-outline-primary search-button text-center mt-3">Search</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock%}