{% extends 'base.html' %} {% block content %}
<div class="d-flex justify-content-center">
    <div class="border rounded m-3 p-3 w-25">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}
        <h3 class="form-title text-center m-4 d-none d-md-block">User Login</h3>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">{{ form.as_p }}</fieldset>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info">Login</button>
            </div>
        </form>
        <div>
            <div class="divider"></div>
            <div>
                Do not have account? Let's <a href="{%url 'signup'%}">Sign Up </a>
            </div>
        </div>
        {% endblock%}
    </div>
</div>