{% extends 'base.html' %} {% block content %}
<div class="w-50 mx-auto">
    <div class="m-3 p-3">
        <h2 class="text-center m-2"> Privacy Notice</h2>
    </div>

    <div class="m-3 p-3" id="allcontent">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}
        <div class="article border rounded m-3 px-3 mb-5">







            <h3> Last updated: (08 January 2022) </h3>
            <br>
            <p class="m-1">
                MediPub operates on http://3.91.234.233:8000/ (the "Site"). This page informs you of our
                policies regarding the collection, use and disclosure of Personal Information we receive from users of
                the Site.

                We use your Personal Information only for providing and improving the Site. By using the Site, you agree
                to the collection and use of information in accordance with this policy.
            </p>
            <br>
            <h4> Information Collection And Use </h4>

            <p class="m-1">




                While using our Site, we may ask you to provide us with certain personally identifiable information that
                can be used to contact or identify you. Personally identifiable information may include, but is not
                limited to your name ("Personal Information").
            </p>
            <br>
            <h4> Log Data </h4>
            <p class="m-1">



                Like many site operators, we may collect information that your browser sends whenever you visit our Site
                ("Log Data").

                This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser
                type, browser version, the pages of our Site that you visit, the time and date of your visit, the time
                spent on those pages and other statistics.

                In addition, we may use third party services such as Google Analytics that collect, monitor and analyse
                the statistics purpose for the Site.

            </p>
            <br>
            <h4> Communications </h4>

            <p class="m-1">



                We may use your Personal Information to contact you with newsletters to let you update about MediPub
                updates.
            </p>

            <br>
            <h4> Cookies </h4>

            <p class="m-1">



                Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies
                are sent to your browser from a web site and stored on your computer's hard drive.

                Like many sites, we may use "cookies" to collect information. You can instruct your browser to refuse
                all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may
                not be able to use some portions of our Site.
            </p>
            <br>
            <h4> Security </h4>

            <p class="m-1">





                The security of your Personal Information is important to us, but remember that no method of
                transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use
                commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute
                security.
            </p>
            <br>

            <h4> Changes To This Privacy Policy </h4>

            <p class="m-1">






                This Privacy Policy is effective as of (03 January 2022)and will remain in effect except with respect to
                any changes in its provisions in the future, which will be in effect immediately after being posted on
                this page.

                We reserve the right to update or change our Privacy Policy at any time and you should check this
                Privacy Policy periodically. Your continued use of the Service after we post any modifications to the
                Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to
                abide and be bound by the modified Privacy Policy.

                If we make any material changes to this Privacy Policy, we will notify you either through the email
                address you have provided us, or by placing a prominent notice on our website.

            </p>
            <br>


            <h4> Contact Us </h4>

            <p class="m-1">

                If you have any questions about this Privacy Policy, please contact us at medipub574@gmail.com</p>




        </div>
    </div>
</div>

{% endblock%}
