{% extends 'base.html' %} {% block content %}




<div class="w-75 mx-auto">
    <div class="m-3 p-3">
        <h2 class="text-center m-2"> Profile Page</h2>
    </div>


    <div class="m-1 p-1" id="allcontent">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}

        <div class="article border rounded m-3 px-3 mb-5">
            <div class="articleHeader">
                <p class="m-1"><span class="spanHeader">User Name:</span> <span> {{ user.name }}</span></p>
                <p class="m-1"><span class="spanHeader">User Email:</span> <span> {{ user.email }}</span></p>
                <p class="m-1"><span class="spanHeader">User Bio:</span> <span> {{user.bio}}</span></p>
                <p class="m-1"><span class="spanHeader">Date Joined:</span> <span> {{user.date_joined}}</span></p>
            </div>
        </div>


        <div class="article border rounded m-3 px-3 mb-5">
          <div class="articleHeader">
              <p class="m-1"><span class="spanHeader">Followed Articles:</span> <span>{{user.followed_articles.all|length}} </span></p>
              <p class="m-1"><span class="spanHeader">Folloewed Users:</span> <span>{{user.followed_users.all|length}}</span></p>
              <p class="m-1"><span class="spanHeader">Followed Tags:</span><span>{{user.followed_tags.all|length}}</span></p>

          </div>
        </div>
    </div>




</div>

{% endblock%}
