{% extends 'base.html' %} {% block content %}
<div class="w-75 mx-auto">
    <div class="m-3 p-3">
        <h2 class="text-center m-2"> Article Search Results</h2>
    </div>

    <script>
        function sortByRelevance(){
            if(window.location.href.includes("advanced-search") && !window.location.href.includes("results")){
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'0'+window.location.href.substring(window.location.href.indexOf("/advanced-search"));
            }
            else{
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'0'+window.location.href.substring(window.location.href.indexOf("/results/"));
            }
        }

        function sortByDateAsc(){
            if(window.location.href.includes("/advanced-search") && !window.location.href.includes("/results")){
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'1'+window.location.href.substring(window.location.href.indexOf("/advanced-search"));
            }
            else{
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'1'+window.location.href.substring(window.location.href.indexOf("/results/"));
            }
        }

        function sortByDateDes(){
            if(window.location.href.includes("/advanced-search") && !window.location.href.includes("/results")){
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'2'+window.location.href.substring(window.location.href.indexOf("/advanced-search"));
            }
            else{
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'2'+window.location.href.substring(window.location.href.indexOf("/results/"));
            }
        }

        function sortByDateTitleAtoZ(){
            if(window.location.href.includes("/advanced-search") && !window.location.href.includes("/results/")){
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'3'+window.location.href.substring(window.location.href.indexOf("/advanced-search"));
            }
            else{
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'3'+window.location.href.substring(window.location.href.indexOf("/results/"));
            }
        }

        function sortByDateTitleZtoA(){
            if(window.location.href.includes("/advanced-search") && !window.location.href.includes("/results")){
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'4'+window.location.href.substring(window.location.href.indexOf("/advanced-search"));

            }
            else{
                window.location=window.location.href.substring(0,window.location.href.indexOf("/article/sort/")+14)+'4'+window.location.href.substring(window.location.href.indexOf("/results/"));
            }
        }

        window.onload = function () {
            var sort_type = {{sort_type}};

            var is_query_saved = "{{ is_query_saved  }}";

            document.getElementById("source_url").value = window.location.href;

            if(is_query_saved==null || is_query_saved=="False"){
                
                if(window.location.href.includes("advanced-search") && !window.location.href.includes("results")){
                document.getElementById("save_query_form").action = "../../save_query"
                }
            }
            else{
                if(window.location.href.includes("advanced-search") && !window.location.href.includes("results")){
                    document.getElementById("save_search_query").value = "Delete Saved Query";
                    document.getElementById("save_query_form").action = "../../delete_query";
                }
                else{
                    document.getElementById("save_search_query").value = "Delete Saved Query";
                    document.getElementById("save_query_form").action = "../../../delete_query";
                }
            }
            
            if(!window.location.href.includes("advanced-search") && window.location.href.includes("results")){
                document.getElementById("sortByRelevance").innerHTML= "Default sort";
            }

            if(sort_type==1){
            document.getElementById("sortByDate").setAttribute('onclick','sortByDateDes();');
            document.getElementById("sortByDate").innerHTML = "Sort by Date - Des";
            document.getElementById("p_sort_info").innerHTML = "Results are sorted by date - in ascending order.";
            }
            else if(sort_type==2){
            document.getElementById("sortByDate").setAttribute('onclick','sortByDateAsc();');
            document.getElementById("sortByDate").innerHTML = "Sort by Date - Asc";
            document.getElementById("p_sort_info").innerHTML = "Results are sorted by date - in desceding order.";
            }
            else if(sort_type==3){
                document.getElementById("sortByTitle").setAttribute('onclick','sortByDateTitleZtoA();');
                document.getElementById("sortByTitle").innerHTML = "Sort by Title - Z to A";
                document.getElementById("p_sort_info").innerHTML = "Results are sorted by title alphabetically - A to Z";
            }
            else if(sort_type==4){
                document.getElementById("sortByTitle").setAttribute('onclick','sortByDateTitleAtoZ();');
                document.getElementById("sortByTitle").innerHTML = "Sort by Title - A to Z";
                document.getElementById("p_sort_info").innerHTML = "Results are sorted by title alphabetically - Z to A";
            }
            else if(sort_type==0){
                document.getElementById("sortByRelevance").removeAttribute("onclick");
                document.getElementById("sortByRelevance").disabled = true;
            }
        };
    </script>

    <div class="sort-buttons-menu m-3 px-3 mb-5">
        {% comment %} <form id = "advanced_search_post_form" method="GET" action="">
            <input type="hidden" id="filtered_articles" name="variable" value="{{ filtered_articles }}">
            <input type="hidden" id="query_term" name="variable" value="{{ query_term }}">
            <input type="hidden" id="form" name="variable" value="{{ form }}">
            <input type="hidden" id="sort_type" name="variable" value="{{ sort_type }}">
        </form> {% endcomment %}
    <button id="sortByDate" onclick="sortByDateAsc();">Sort by Date - Asc</button>
    <button id="sortByTitle" onclick="sortByDateTitleAtoZ();">"Sort by Title - A to Z"</button>
    <button id="sortByRelevance" onclick="sortByRelevance();">Sort by Relevance </button>
    </div>

    <div class="m-3 px-3 mb-2">
        <p>This query is searched {{search_count}} times <p>
        <form id="save_query_form" action="../../../save_query" method="POST">
            {% csrf_token %}
            <input type="hidden" id="query_term" name="query_term" value="{{query_term}}">
            <input type="hidden" id="source_url" name="source_url">
            <input type="submit" id="save_search_query" value="Save Search Query"> 
        </form>
    </div>

    <p style="color:red" class="m-3 px-3 mb-5" id="p_sort_info">Results are sorted by Relevance</p>

    <div class="m-1 p-1" id="allcontent">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}
        {% for article in filtered_articles %}
        <div class="article border rounded m-3 px-3 mb-5">
            <div class="articleHeader">
                <h3 class="mt-3"><a href="{%url 'details' article.0 %}">{{article.1}}</a></h3>
                <p class="m-1"><span class="spanHeader">PMID:</span><span> {{article.0}}</span></p>
                <p class="m-1"><span class="spanHeader">Publish Date:</span><span> {{article.2|date:"D d M Y"}}</span></p>
            </div>
        </div>
        {%endfor %}
    </div>
</div>

<!--Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page|add:"-1" > 0 %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ page|add:"-1" }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% if page|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link"
                href="?page={{ page|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in real_length %}
            {% if page == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        {{ i }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            {% elif i > page|add:'-3' and i < page|add:'3' and i > page|add:'-3' and i > 0 %} <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

            {% if real_length|last > page|add:'4' %}
            <li class="page-item"><a class="page-link"
                    href="?page={{ page|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if page|add:"1" < real_length|last %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page|add:"1" }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
    </ul>
</nav>
<!--end of Pagination-->
{% endblock%}
