{% extends 'base.html' %} {% block content %}
<div class="w-50 mx-auto">
    <div class="m-3 p-3">
        <h2 class="text-center m-2"> User Signup Request</h2>
    </div>
    <div class="m-1 p-1" id="allcontent">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}


        {% if not new_users_flag %}

        <div class="article border rounded m-3 px-3 mb-5">
            <div class="articleHeader">


                <p class="m-1"><span class="spanHeader">System Message:</span> <span>No new signup request
                        received</span></p>


            </div>



        </div>

        {% else %}

        {% for new_user in new_users %}



        <div class="article border rounded m-3 px-3 mb-5">
            <div class="articleHeader">

                <p class="d-flex justify-content-center"><a href="{%url 'approve_request' new_user.email %}"
                        class="btn btn-primary" role="button">Approve</a>
                    <a href="{%url 'reject_request' new_user.email %}" class="btn btn-danger" role="button">Reject</a>
                </p>
                <p class="m-1"><span class="spanHeader">User Name:</span> <span> {{ new_user.name }}</span></p>
                <p class="m-1"><span class="spanHeader">User Email:</span> <span> {{ new_user.email }}</span></p>
                <p class="m-1"><span class="spanHeader">User Bio:</span> <span> {{new_user.bio}}</span></p>
                <p class="m-1"><span class="spanHeader">Date Joined:</span> <span> {{new_user.date_joined}}</span></p>

            </div>



        </div>



        {%endfor %}

        {%endif%}


    </div>
</div>



{% endblock%}
