{% extends 'base.html' %} {% block content %}
<div class="d-flex  justify-content-center">
    <div class="border rounded m-3 p-3 w-25">
        {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {%endif%}
        <h3 class="form-title text-center m-4 d-none d-md-block">Create Account</h3>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p}}
            </fieldset>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </form>
        <div class="my-4 ">
            By creating an account, you agree to <a href="{%url 'conditions' %}">Conditions of Use</a> and <a
                href="{%url 'privacy' %}">Privacy Notice </a>
        </div>
        <div>
            <div class="divider "></div>
            <div>Already have an account? <a href="{%url 'login' %}">Log In </a> </div>
        </div>
    </div>
</div>
{% endblock%}