{% extends 'base.html' %} {% block content %}
    <div class="d-flex  justify-content-center">
        <div class="border rounded m-3 p-3 w-25">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {%endif%}
            <h3 class="form-title text-center m-4 d-none d-md-block">Tag Lookup Page</h3>
            <form method="GET" action="{%url 'search_tag' %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.as_p }}
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-info">Search Tag</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock%}
