{% extends 'base.html' %} {% block content %}
    <div class="w-75 mx-auto">
        <div class="m-3 p-3">
            <h2 class="text-center m-2"> Tag Search Results</h2>
        </div>
        <div class="m-1 p-1" id="allcontent">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {%endif%}
            {% for single_tag in filtered_tags %}
                <div class="article border rounded m-3 px-3 mb-5">
                    <div class="articleHeader">
                        <h3 class="mt-3"><a href="">{{single_tag.id}}</a></h3>
                        <div class="d-flex justify-content-end">
                            {% if single_tag.unique_id|slugify in followed_tags %}
                                <a href="{%url 'unfollow_tag' single_tag.unique_id %}" class="btn btn-warning" role="button">Unfollow</a>
                            {% else %}
                                <a href="{%url 'follow_tag' single_tag.unique_id %}" class="btn btn-primary" role="button">Follow</a>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-end">
                            {% if single_tag.unique_id|slugify in followed_tags %}
                                <div class="d-flex justify-content-end">
                                    <p class="m-1"><mark>You are following this tag</mark></p>
                                </div>
                            {% endif %}
                        </div>
                        <p class="m-1"><span class="spanHeader">Tag Label:</span><span> {{single_tag.label}}</span></p>
                        <p class="m-1"><span class="spanHeader">Wiki Url:</span><span> {{single_tag.wiki_url}}</span></p>
                        <p class="m-1"><span class="spanHeader">Custom Name:</span><span> {{single_tag.custom_description}}</span></p>
                    </div>
                </div>
            {%endfor %}
        </div>
    </div>
{% endblock%}
