{% extends 'base.html' %} {% block content %}
    <div class="w-75 mx-auto">
        <div class="m-3 p-3">
            <h2 class="text-center m-2"> User Search Results</h2>
        </div>
        <div class="m-1 p-1" id="allcontent">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {%endif%}
            {% for single_user in filtered_users %}
                <div class="article border rounded m-3 px-3 mb-5">
                    <div class="articleHeader">
                        <h3 class="mt-3"><a href="">{{single_user.id}}</a></h3>
                        <div class="d-flex justify-content-end">
                            {% if single_user.email in followed_users %}
                                <a href="{%url 'unfollow_user' single_user.email %}" class="btn btn-warning" role="button">Unfollow</a>
                            {% else %}
                                <a href="{%url 'follow_user' single_user.email %}" class="btn btn-primary" role="button">Follow</a>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-end">
                            {% if single_user.email in followed_users %}
                                <div class="d-flex justify-content-end">
                                    <p class="m-1"><mark>You are following this user</mark></p>
                                </div>
                            {% endif %}
                        </div>
                        <p class="m-1"><span class="spanHeader">User Name:</span><span> {{single_user.name}}</span></p>
                        <p class="m-1"><span class="spanHeader">User Bio:</span><span> {{single_user.bio}}</span></p>
                    </div>
                </div>
            {%endfor %}
        </div>
    </div>
{% endblock%}
